<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRIME Age in Months</title>
</head>
<body>
    <h1>Amount in £: {{ formData }}</h1>
    <h2>amount in $: {{ convertedCurrency }}</h2>
    <form method="post" mimetype='application/json' action='{{url_for("index")}}'>
        <!-- <img src="image.png" alt="Description for image" width="250" height="250"> -->
       <p><input type="submit" value="Start Again" /></p>
    </form>
</body>
</html>